<div class="row grow-jobs" >
 <div class="col-md-10 col-md-offset-1 job-content">
  <div class="col-md-9 col-xs-9 ">

       <h1>成长</h1>
          <br><br>
          <%= render :partial => "groups", :as => :job %>
   </div>
 </div>
</div>
