<div class="row set-jobs" >
 <div class="col-md-10 col-md-offset-1 job-content">
  <div class="col-md-9 col-xs-9 ">

       <h1>全部社群</h1>
          
          <%= render :partial => "groups",  :as => :job %>
   </div>
 </div>
</div>
