<section class="jumbotron">

    <h1 class="title">合作之家
      <p>携手合作，协同作战</p>
      <p> 找到最中意的合作伙伴</p>

      <p class="lead">
         <a class="btn btn-primary-welcome" href="jobs" role="button">立即开始</a>
      </p>

    </h1>
  </section>



    <div class="container">

      <hr />

      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-4x fa fa-circle-o"></i>

          <h3 class="h3">一个共同成长的圈子</h3>

          <p>xxxxxxxxxxxxx</p>
        </div>

        <div class="col-md-4">
          <i class="fa fa-4x fa-rocket"></i>

          <h3 class="h3">一个平等欢乐的平台</h3>

          <p>xxxxxxxxxxxxxxx</p>
        </div>

        <div class="col-md-4">
          <i class="fa fa-4x fa-map"></i>

          <h3 class="h3">一个三观相投的载体</h3>

          <p>xxxxxxxxxxxxxxxxx</p>
        </div>
      </div>
    </div>


  <!--======== 热门伙伴 =========-->
  <div class="row">
        <div class="col-sm-4">
            <%= link_to image_tag("san.jpg", class: "img-circle img-responsive img-center frontpage-img"), image_path(jobs_path(:order => "category"))%>
            <h4 class="text-center">寻找你的伙伴</h4>
            <p>111111111</p>
        </div>
        <div class="col-sm-4">
            <%= link_to image_tag("c.jpg", class: "img-circle img-responsive img-center frontpage-img"), image_path(jobs_path(:order => "category"))%>
            <h4 class="text-center">寻找你的伙伴</h4>
            <p>22222。</p>

        </div>
        <div class="col-sm-4">
            <%= link_to image_tag("shu.jpg", class: "img-circle img-responsive img-center frontpage-img"), image_path(jobs_path(:order => "category"))%>
            <h4 class="text-center">寻找你的伙伴</h4>
            <p>3333333</p>
        </div>
    </div>
