<div class="row set-my-jobs" >
   <div class="col-md-10 col-md-offset-1 job-content">


     <div class="container-fluid jobs-show-page">
       <h2> My Jobs</h2>
         <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

          <br><br><br>
          <%= render :partial => "jobs_item", :collection => @jobs, :as => :job %>
         </div>
        <div class="text-center">
         <%= will_paginate @jobs %>
        </div>
     </div>


 </div>
</div>
