<div class="row set-my-jobs" >
 <div class="col-md-10 col-md-offset-1 job-content">
  <div class="col-md-12 col-xs-12 ">

     <div class="container-fluid jobs-show-page">
       <h2> My Jobs</h2>
         <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

          <br><br><br>
          <%= render :partial => "jobs_item", :collection => @jobs, :as => :job %>
         </div>
        <div class="text-center">
         <%= will_paginate @jobs %>
        </div>
     </div>

   </div>
 </div>
</div>
